/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2024, 8:12:23 PM
    Author     : admin
*/
/* Đặt chiều cao của các hàng chứa tên dữ liệu */
/* Đặt chiều cao của các ô chứa tên dữ liệu */
/* Đặt chiều cao của các ô chứa tên dữ liệu */
/* Đặt chiều cao và căn chỉnh cho các ô chứa tên dữ liệu */
.tableb .dataName {
    height: 33px;
    background-color: white;
    vertical-align: middle; /* Căn chỉnh nội dung theo chiều dọc */
    padding: 8px;
    font-weight: bold; /* In đậm tên dữ liệu */
    text-align: left; /* Căn chỉnh nội dung sang trái */
}

/* Đặt chiều cao và căn chỉnh cho các ô chứa dữ liệu */
.tableb .dataVal {
    height: 99px;
    background-color: #f0f0f0; /* Màu xám nhạt */
    vertical-align: middle; /* Căn chỉnh nội dung theo chiều dọc */
    padding: 8px;
    text-align: left; /* Căn chỉnh nội dung sang trái */
}

/* Đảm bảo các ô trong hàng ngang đều căn chỉnh theo chiều dọc */
.tableb td {
    vertical-align: middle;
}

/* Đặt chiều cao tối thiểu để đảm bảo sự khác biệt về kích thước */
.tableb tr .dataName {
    min-height: 33px;
}

.tableb tr .dataVal {
    min-height: 99px;
    text-align: center;
}

/* Đảm bảo bảng chiếm toàn bộ chiều rộng container */
.tableb {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

/* Đặt các đường viền cho bảng và các ô */
.tableb td {
    border: 1px solid #000;
}

/* Đặt tiêu đề bảng */
.tableb th {
    background-color: #d3d3d3; /* Màu xám */
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #000;
}

/* Tiêu đề của bảng (nếu có) */
.tableb caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
    background-color: #d3d3d3; /* Màu xám */
}




